{% extends 'index.html' %}
{% block content %}
{% if Search == 'Error' %}
<div class="well fade in daytips">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>作者水平有限,并没有关于<font color="red"><b>"{{ keyword }}"</b></font>的内容,请换一个词试试</strong>
</div>
{% else %}
<div class="well fade in daytips">
    <strong>关于<font color="red"><b>"{{ key }}"</b></font>的搜索结果一共有<font
                    color="red"><b>"{{ Search_count }}"</b></font>条</strong>
</div>
{% endif %}
            <div class="row">
				<article class="col-xs-12">
                    {% for post in Search_result %}
					<h2>{{ post.title }}</h2>
                    <p class="pull-right"><span class="label label-default">{{ posttype }}</span> <span class="label label-default">{{ post.pub_date | date:"j M" }}</span></p>
                    <p><hr></p>
					<p>{{ post.content | safe }}</p>
					<p class="pull-right">
						{% for tag in posttags %}
						<span class="label label-default">{{ tag.name }}</span>
						{% endfor %}
					</p>
					<ul class="list-inline">
						<li><a href="{% url 'focus:post_page' post.id %}"><span class="glyphicon glyphicon-comment"></span>评论{{ post.comment_num }}</a></li>
						<li><a href="{% url 'focus:get_poll_post' post.id %}"><span class="glyphicon glyphicon-thumbs-up"></span>赞{{ post.poll_num }}</a></li>
                        <li><a href="{% url 'focus:keep_post' post.id %}"><span class="glyphicon glyphicon-floppy-save"></span>收藏{{ post.keep_num }}</a></li>
					</ul>
                    {% endfor %}
				</article>
			</div>
{% endblock %}